<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Meowspace</title>
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <a id="home-nav" class="navbar-brand" href="/">Meowspace</a>
      <ul class="nav navbar-nav">
        <li id="create"><a href="/create">Create<span class="sr-only">(current)</span></a></li>
        <li id="cats"><a href="/cats">Cats</a></li>
      </ul>
      <button type="button" class="btn btn-default btn btn-primary navbar-btn navbar-right" data-toggle="modal" data-target=".bs-example-modal-sm">Sign up</button>
    </div>
  </nav>

  <!-- Small modal window -->
  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <h3>Sign up</h3>
        <form id="cat" action="/cats" method="POST">
          <input type="text" name="email" placeholder="Email Address">
          <input type="password" name="password" placeholder="Password">
          <input type="submit" value="Meow!">
        </form>
      </div>
    </div>
  </div>

    <div class="container" id="home">
      <div class="row">
        <div class="col-md-6">
          <h1>Meow!</h1>
        </div>
      </div>
    </div>

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <!-- BOOTSTRAP JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </body>
</html>